.topbar {
    background-color: rgb(57, 57, 57);
}

.navbar-brand {
    padding-left: 0;
}

.team-logo, .team-logo-bottom {
    width: 75px;
    height: 27px;
    background-image: url(../images/logo.png);
    margin-left: 10px;
}

.container .team-logo, .container .team-logo-bottom {
    margin-left: 0px;
}

.ace-nav>li {
    border-left: none;
}

.ace-nav>li a {
    background-color: transparent;
}

.ace-nav>li>a>[class*=icon-] {
    font-size: 13px;
}

.command-line code {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #202020;
    border: 4px solid silver;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #6e6e6e;
    color: #e2e2e2;
    display: block;
    font: 1.5em "andale mono", "lucida console", monospace;
    line-height: 1.5em;
    overflow: auto;
    padding: 15px;
}

@media only screen and (max-width: 460px) {
  .navbar .navbar-header.pull-left {
    display: block;
    float: none !important;
  }
  .navbar .navbar-header.pull-right {
    display: block;
    float: none !important;
  }
  /*.navbar .navbar-inner {
  border-bottom-width:0;
 }*/
  .ace-nav {
    display: block;
    float: none !important;
    text-align: center;
    background-color: transparent;
    border: none;
    border-width: 0 0;
    letter-spacing: auto;
  }
  .ace-nav > li {
    display: inline-block;
    float: none !important;
    text-align: left;
    letter-spacing: normal;
  }
  .ace-nav > li:first-child {
    border-left: none;
  }
  .ace-nav > li:last-child {
    border-right: none;
  }
}
