<ul class="nav nav-list">
    <li class="{% if include.active == 'getting-started' %}active{% endif %}">
        <a href="{{ "docs" | prepend: site.baseurl }}">
            <i class="icon-bolt"></i>
            <span class="menu-text"> Getting Started</span>
        </a>
    </li>
    <li class="{% if include.active == 'application-structure' %}active{% endif %}">
        <a href="{{ "docs/application-structure" | prepend: site.baseurl }}">
            <i class="icon-tasks"></i>
            <span class="menu-text"> Application structure</span>
        </a>
    </li>
    <li class="{% if include.active == 'configuring-your-application' %}active{% endif %}">
        <a href="{{ "docs/configuring-your-application" | prepend: site.baseurl }}">
            <i class="icon-gears"></i>
            <span class="menu-text"> Configuring your application</span>
        </a>
    </li>
    <li class="{% if include.active == 'states-controllers-views' %}active{% endif %}">
        <a href="{{ "docs/states-controllers-views" | prepend: site.baseurl }}">
            <i class="icon-compass"></i>
            <span class="menu-text"> States, controllers &amp; views</span>
        </a>
    </li>
    <li class="{% if include.active == 'working-with-a-rest-api' %}active{% endif %}">
        <a href="{{ "docs/working-with-a-rest-api" | prepend: site.baseurl }}">
            <i class="icon-code"></i>
            <span class="menu-text"> Working with a REST API</span>
        </a>
    </li>
    <li class="{% if include.active == 'authenticating-using-a-jwt-token' %}active{% endif %}">
        <a href="{{ "docs/authenticating-using-a-jwt-token" | prepend: site.baseurl }}">
            <i class="icon-lock"></i>
            <span class="menu-text"> Authenticating using a JWT token</span>
        </a>
    </li>
    <li class="{% if include.active == 'internationalization' %}active{% endif %}">
        <a href="{{ "docs/internationalization" | prepend: site.baseurl }}">
            <i class="icon-globe"></i>
            <span class="menu-text"> Internationalization (I18n)</span>
        </a>
    </li>
    <li class="{% if include.active == 'validating-user-input' %}active{% endif %}">
        <a href="{{ "docs/validating-user-input" | prepend: site.baseurl }}">
            <i class="icon-check"></i>
            <span class="menu-text"> Validating user input</span>
        </a>
    </li>
    <li class="{% if include.active == 'error-handling' %}active{% endif %}">
        <a href="{{ "docs/error-handling" | prepend: site.baseurl }}">
            <i class="icon-warning-sign"></i>
            <span class="menu-text"> Error handling</span>
        </a>
    </li>
    <li class="{% if include.active == 'putting-your-application-in-production' %}active{% endif %}">
        <a href="{{ "docs/putting-your-application-in-production" | prepend: site.baseurl }}">
            <i class="icon-flag-checkered"></i>
            <span class="menu-text"> Putting your application in production</span>
        </a>
    </li>
    <li class="{% if include.active == 'troubleshooting-your-application' %}active{% endif %}">
        <a href="{{ "docs/troubleshooting-your-application" | prepend: site.baseurl }}">
            <i class="icon-terminal"></i>
            <span class="menu-text"> Troubleshooting your application</span>
        </a>
    </li>
</ul>
