<!DOCTYPE html>
<html lang="en">
    {% include head.html css="docs.css" %}

    <body>
        {% include topbar.html %}

        <div class="main-container" id="main-container">
            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>
                <div class="sidebar" id="sidebar">
                    {% include sidebar.html active=page.sidebar %}
                </div>

                <div class="main-content">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home home-icon"></i>
                                <a href="{{ "" | prepend: site.baseurl }}">Home</a>
                            </li>
                            <li><a href="{{ "docs" | prepend: site.baseurl }}">Documentation</a></lI>

                            <li class="active">{{ page.title }}</li>
                        </ul>
                    </div>

                    <div class="page-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-header">
                                    <h1>{{ page.title }}</h1>
                                </div>

                                {{ content }}

                                {% if page.next_page_url %}
                                    <nav>
                                        <ul class="pager">
                                            <li class="next"><a href="{{ page.next_page_url | prepend: site.baseurl }}">Next: {{ page.next_page_description }} <span aria-hidden="true">&rarr;</span></a></li>
                                        </ul>
                                    </nav>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            window.jQuery || document.write("<script src='{{ "js/jquery.min.js" | prepend: site.themeurl }}'>"+"<"+"/script>");
        </script>
        <script type="text/javascript">
            if("ontouchend" in document) document.write("<script src='{{ "js/jquery.mobile.custom.min.js" | prepend: site.themeurl }}'>"+"<"+"/script>");
        </script>
        <script src="{{ "js/bootstrap.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/ace-elements.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/ace.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/layout.min.js" | prepend: site.themeurl }}"></script>
    </body>
</html>
