<!DOCTYPE html>
<html lang="en" ng-app="docs">
    {% include head.html css="docs.css" %}

    <body>
        {% include topbar.html %}

        <div class="main-container" id="main-container">
            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>
                <div class="sidebar" id="sidebar">
                    {% include sidebar.html active=page.sidebar %}
                </div>

                <div class="main-content">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home home-icon"></i>
                                <a href="{{ "" | prepend: site.baseurl }}">Home</a>
                            </li>
                            <li><a href="{{ "docs" | prepend: site.baseurl }}">Documentation</a></lI>

                            <li class="active">{{ page.title }}</li>
                        </ul>
                    </div>

                    <div class="page-content" ng-controller="TopicController" ng-cloak>
                        <div class="row">
                            <div class="col-xs-12">                             
                                <div class="page-header clearfix">
                                    <h1 class="pull-left">{{ page.title }}</h1>
                                    <!--
                                    <div class="btn-group pull-right">
                                        <label class="btn btn-primary" ng-model="platform" btn-radio="'.NET'">.NET</label>
                                        <label class="btn btn-primary" ng-model="platform" btn-radio="'Java'">Java</label>
                                        <label class="btn btn-primary" ng-model="platform" btn-radio="'PHP'">PHP</label>
                                    </div>
                                    -->
                                </div>
                                <div class="alert alert-warning" platform="Java">
                                    <i class="icon-warning-sign"></i> We currently do not offer a server-side implementation for Java.
                                </div>
                                <div class="alert alert-warning" platform="PHP">
                                    <i class="icon-warning-sign"></i> We currently do not offer a server-side implementation for PHP.
                                </div>
                                {{ content }}
                                {% if page.next_page_url %}
                                    <nav>
                                        <ul class="pager">
                                            <li class="next"><a href="{{ page.next_page_url | prepend: site.baseurl }}">Next: {{ page.next_page_description }} <span aria-hidden="true">&rarr;</span></a></li>
                                        </ul>
                                    </nav>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            window.jQuery || document.write("<script src='{{ "js/jquery.min.js" | prepend: site.themeurl }}'>"+"<"+"/script>");
        </script>
        <script type="text/javascript">
            if("ontouchend" in document) document.write("<script src='{{ "js/jquery.mobile.custom.min.js" | prepend: site.themeurl }}'>"+"<"+"/script>");
        </script>
        <script src="{{ "js/bootstrap.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/ace-elements.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/ace.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/layout.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/angular/angular.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/angular/angular-resource.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/angular-local-storage/angular-local-storage.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js" | prepend: site.themeurl }}"></script>

        <script src="{{ "js/app/docs/app.modules.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/docs/app.config.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/docs/topic.controller.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/docs/platform.directive.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
