<!DOCTYPE html>
<html lang="en">
    {% include head.html css="blog.css" %}

    <body>
        <div class="topbar">
            <div class="container">
                {% include topbar.html %}
            </div>
        </div>

        <div class="container">
            <div class="page-header">
                <h1>
                    Blog
                    <small>News from the development team</small>
                </h1>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <header class="post-title">
                            <h1>
                                {{ page.title }}
                            </h1>
                            <small>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</small>
                        </header>
                        <article class="post-content">
                            {{ content }}
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h2>Archive</h2>
                    <ul class="post-list">
                        {% for post in site.posts %}
                            <li>
                                <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

        <script type="text/javascript">
            window.jQuery || document.write("<script src='{{ "js/jquery.min.js" | prepend: site.themeurl }}'>"+"<"+"/script>");
        </script>
        <script type="text/javascript">
            if("ontouchend" in document) document.write("<script src='{{ "js/jquery.mobile.custom.min.js" | prepend: site.themeurl }}'>"+"<"+"/script>");
        </script>
        <script src="{{ "js/bootstrap.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/ace-elements.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/ace.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/layout.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/angular/angular.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/angular/angular-resource.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/moment.min.js" | prepend: site.themeurl }}"></script>

        <script src="{{ "js/vendor/angular-moment.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/vendor/underscore.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/releases/app.modules.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/releases/app.config.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/releases/projects.controller.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/releases/categories.resource.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/releases/releases.resource.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
