<!DOCTYPE html>
<html lang="en" ng-app="releases" ng-controller="ProjectsController as vm" ng-cloak>
    {% include head.html css="releases.css" %}
    <body>
        <div class="topbar">
            <div class="container">
                {% include topbar.html %}
            </div>
        </div>

        <div class="container">
            {{ content }}
        </div>

        <script type="text/javascript">
            window.jQuery || document.write("<script src='{{ "js/jquery.min.js" | prepend: site.themeurl }}'>"+"<"+"/script>");
        </script>
        <script type="text/javascript">
            if("ontouchend" in document) document.write("<script src='{{ "js/jquery.mobile.custom.min.js" | prepend: site.themeurl }}'>"+"<"+"/script>");
        </script>
        <script src="{{ "js/bootstrap.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/ace-elements.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/ace.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/layout.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/angular/angular.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/angular/angular-resource.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/moment.min.js" | prepend: site.themeurl }}"></script>
        <script src="{{ "js/ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js" | prepend: site.themeurl }}"></script>

        <script src="{{ "js/vendor/angular-moment.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/vendor/underscore.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/releases/app.modules.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/releases/app.config.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/releases/projects.controller.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/releases/categories.resource.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "js/app/releases/releases.resource.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
